### pandas 用法

In [2]:
import pandas as pd

In [3]:
d = {'ID num' : pd.Series([2017010246,2017010300,2019234789], index=['xihang','sinuo','little']),
     'gender' : pd.Series(['female','female','male'], index=['xihang','sinuo','little'])}
df = pd.DataFrame(d)
df

            ID num  gender
xihang  2017010246  female
sinuo   2017010300  female
little  2019234789    male

In [4]:
df['ID num']

xihang    2017010246
sinuo     2017010300
little    2019234789
Name: ID num, dtype: int64

In [5]:
df.loc['sinuo']

ID num    2017010300
gender        female
Name: sinuo, dtype: object

### 计算MSE均方误差

In [29]:
import numpy as np

In [30]:
def mse(A):
    m = np.mean(A)
    mse = sum((A - m)**2)/len(A)
    return mse

A1 = [72, 94, 79, 83, 65, 81, 73, 67, 85, 82]
mse(A1)

70.69000000000001

### 计算交叉熵

In [25]:
male_y = np.array([0.9, 0.1])
female_y = np.array([0.2, 0.8])
male_y1 = np.array([1,0])
female_y2 = np.array([0,1])

def CE(y,y1):
    return sum(-1 * y1 * np.log(y))

In [27]:
CE (male_y, male_y1)

0.10536051565782628

In [28]:
CE (female_y, male_y1)

1.6094379124341003